body {
    font-family: 'Roboto', sans-serif;
}

.container {
    max-width: 800px;
}

.social-icon {
	color: #7a7a7a;
}

.social-icon:hover {
	color: #6e94d0;
}

.post-date {
    color: #7a7a7a;
    margin-right: 1em;
}

.projects-section {
    margin-top: 5em;
}

.navbar.is-dark {
    background-color: #1B1B32;
}
