body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    font-feature-settings: 
	"cv11", "salt", "ss01", "ss03",
	"cv01", "cv02", "cv03", "cv04",
	"cv05", "cv06", "cv09", "cv10";
}

.container {
    max-width: 800px;
}

.social-icon {
	color: #7a7a7a;
}

.social-icon:hover {
	color: #6e94d0;
}

.post-date {
    color: #7a7a7a;
    margin-right: 1em;
}

.projects-section {
    margin-top: 5em;
}

.navbar.is-dark {
    background-color: #1B1B32;
}
